*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    font-size: 1.5rem;
}

#particles-js {
    position: fixed;
    z-index: 0;
    width: 100vw;
    height: 100vh;
}

header {
    background-color: rgba(95, 95, 95, 0.5);
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}

header span {
    margin: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
span ul li a {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    color: white;
    width: 6vw;
}

span ul {
    list-style: none;
    display: flex;
    align-items: center;
}

H1 {
    color: white;
}

a h2 {
    color: white;
    margin: 0.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

#toggle {
    background-color: rgba(95, 95, 95, 0.7);
    border-style: none;
    width: 4vw;
    height: 2vw;
    border-radius: 1vw;
    display: flex;
    align-items: center;
}

#toggle div {
    background: #000000;
    border-style: none;
    width: 1.8vw;
    height: 1.8vw;
    margin: 0.2vw 0.1vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    z-index : 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1vw;
}

main button {
    background-color: rgba(95, 95, 95, 0.7);
    border-style: none;
    width: 8vw;
    height: 4vw;
    border-radius: 1vw;
    margin: 0.5vw;
    scale: 1;
    transition: 0.3s;

}

main button:hover {
    background-color: rgba(95, 95, 95, 0.9);
    scale: 1.1;
    box-shadow: #ffffff 0 0 1vw;
    transition: 0.3s;
}

main button a {
    text-decoration: none;
    color: white;
}

.hero {
    z-index : 1;
}


#contactMe {
    background-color: rgba(95, 95, 95, 0.7);
    border-style: none;
    width: 6vw;
    height: 3vw;
    border-radius: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1024px) {
    a h2 {

    }
}